<h5 class="hidden-phone" xmlns="http://www.w3.org/1999/html"><%= link_to '모의투자', investments_path %></h5>

<% if @investments.count > 0 %>
<h5 class="hidden-phone" style="text-align:center">
  <a>
    실제투자 연동용 인증키</br>
    <%= current_user.authentication_token %>
  </a>
</h5>
<% end %>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>증권사</th>
    <th>투자시작일</th>
    <th>보유기간</th>
    <th>전체자산</th>
    <th>각 추천 투자자산</th>
    <th>현재 수익금액</th>
    <th>현재잔액</th>
  </tr>
  </thead>
  <tbody>
  <% if @investments.count > 0 %>
  <% @investments.each do |investment| %>
      <tr class="link-section" data-href="<%= investment_path(investment) %>">
        <td><%= investment.stock_firm.name %></td>
        <td><%= investment.start_date %></td>
        <td><%= investment.keep_period.days %>일</td>
        <td><%= investment.total_asset %></td>
        <td><%= investment.invest_asset %></td>
        <td>-</td>
        <td>-</td>
      </tr>
  <% end %>
  <% else %>
  <tr>
    <td colspan="7" style="text-align:center">
      <p>아직 모의투자를 신청하지 않았습니다.</p>
      <p>추천왕 페이지에서 모의투자를 신청해주세요.</p>
      <p><%= link_to "신청하러가기", stock_firms_path %></p>
    </td>
  </tr>
  <% end %>

  </tbody>
</table>

