<%= javascript_include_tag "//www.google.com/jsapi"%>
<script>
    google.load("visualization", "1", {packages:["corechart"]});
    function drawChart(win,loses,target) {
        var data = google.visualization.arrayToDataTable([
            ['승/패', '갯수'],
            ['승',     win],
            ['패',     loses]
        ]);
        var options = {
            backgroundColor:'transparent',
            legend: {position:'none'},
            height:'150px'
        };


        var chart = new google.visualization.PieChart(document.getElementById(target));
        chart.draw(data, options);
    }
</script>

<span class="pull-right index-param">최근 <span class=param><%=@recent_period.name%></span> 추천을 <span class=param><%=@keep_period.name%></span> 동안 유지할 때</span>
<h5><%= link_to '추천왕', stock_firms_path %></h5>

<% if mobile_device? %>
<table id="rank-table" class="table table-striped table-hover">
  <thead>
  <tr>
    <th>랭킹</th>
    <th>추천증권사</th>
    <th>평균수익률</th>
    <th>투자위험도</th>
    <th class="hidden-phone"> </th>
    <th class="hidden-phone"> </th>
  </tr>
  </thead>
  <% @stock_firms_rows.each do |stock_firms_row| %>
      <% break if stock_firms_row[:ranking] > 3 %>
      <tr>
        <td><%= stock_firms_row[:ranking] %></td>
        <td><a href="<%= stock_firm_path(stock_firms_row[:stock_firm]) %>"><img width="100px" src="/img/firms/<%= stock_firms_row[:id] %>.png" /></a></td>
        <% profit = stock_firms_row[:profit] %>
        <td class=<%= class_of_profit profit %>><%= profit %> %</td>
        <% variance = stock_firms_row[:variance] %>
        <td class=<%= stock_firms_row[:risk_style] %>><%= stock_firms_row[:risk] %></td>
        <td class="hidden-phone"><a href="<%= stock_firm_path(stock_firms_row[:stock_firm]) %>"> 자세히보기</td>
        <td class="hidden-phone"><a href="#" onclick="alert('준비중입니다.');">시그널링</a></td>
      </tr>
  <% end %>
</table>
<% else %>
<div class="row demo-tiles">
    <% @stock_firms_rows.each do |stock_firms_row| %>
        <% break if stock_firms_row[:ranking] > 3 %>

        <% profit = stock_firms_row[:profit] %>
      <div class="span4">
        <div class="tile">
          <img class="tile-image big-illustration" src="/img/firms/<%= stock_firms_row[:id] %>.png">

          <p>종목수</p>
          <h3 class="tile-title"><%= stock_firms_row[:number_of_recommendations] %></h3>


          <p>평균 수익률</p>
          <h3 class="tile-title <%= class_of_profit profit %>"><%= profit %> %<br />
            <small>(연:<span class=<%= class_of_profit profit %>><%=stock_firms_row[:yearly_profit]%>%</span>)</small></h3>

          <p>투자 위험도</p>
          <h3 class="tile-title <%= stock_firms_row[:risk_style] %>"><%= stock_firms_row[:risk] %></h3>

          <p>승률</p>
          <h3 class="tile-title">
            <div id="chart-<%=stock_firms_row[:ranking]%>">
            </div>
            <script>
              drawChart(<%=stock_firms_row[:number_of_winner]%>,<%=stock_firms_row[:number_of_loser]%>,"chart-<%=stock_firms_row[:ranking]%>");
            </script>



          </h3>
          <a href="<%= stock_firm_path(stock_firms_row[:stock_firm]) %>" class="btn btn-primary btn-large btn-block">자세히 보기</a>
        </div>
      </div>

      <% end %>

<% end %>
</div>


<h5><%= link_to '최신추천종목', recommendations_path %></h5>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>추천날짜</th>
    <th class="hidden-phone">매수 일자</th>
    <th class="hidden-phone">매수일 시가</th>
    <th class="hidden-phone">매도 일자</th>
    <th class="hidden-phone">매도일 종가</th>
    <th>증권사명</th>
    <th class="hidden-phone">종목코드</th>
    <th>종목명</th>
    <th class="hidden-phone">수익률</th>
    <th class="hidden-phone"></th>
  </tr>
  </thead>
  <% @recommendations.each do |recommendation| %>
      <%
         in_day_candle = recommendation.get_in_day_candle
         out_day_candle = recommendation.get_out_day_candle @keep_period.days.days
         profit = recommendation.get_profit @keep_period.days.days
         stock_code_name = if recommendation.stock_code then recommendation.stock_code.name end
         stock_code_name = stock_code_name.gsub("보통주","")
      %>
      <tr>
        <td class="small-font"><%= Utility.utc_datetime_to_kor_str recommendation.in_date %></td>
        <td class="hidden-phone"><%= in_day_candle && Utility.utc_datetime_to_kor_str(in_day_candle.trading_date) || "-" %></td>
        <td class="hidden-phone"><%= in_day_candle && in_day_candle.open || "-" %></td>
        <td class="hidden-phone"><%= out_day_candle && Utility.utc_datetime_to_kor_str(out_day_candle.trading_date) || "-" %></td>
        <td class="hidden-phone"><%= out_day_candle && out_day_candle.close || "-" %></td>
        <td><a href="<%= stock_firm_path(recommendation.stock_firm) %>"><%= recommendation.stock_firm.name %></a></td>

        <td class="hidden-phone"><%= recommendation.symbol %></td>

        <td><%= stock_code_name %></td>

        <td class="hidden-phone <%= class_of_profit profit %>"><%= profit %>%<br />

        </td>
        <td class="hidden-phone"><a href="http://recommend.finance.naver.com/Home/InLookUp/naver?cmpcd=<%=recommendation.symbol%>&indt=<%= Utility.utc_datetime_to_kor_str recommendation.in_date %>&brknm=<%=recommendation.stock_firm.name%>"
                                    target="_blank"
                                    onclick='mixpanel.track("click chart", {"recommendation_id" : <%=recommendation.id%>,"recommendation_in_date" : <%= Utility.utc_datetime_to_kor_str recommendation.in_date %>, "base_date" : "<%=session[:base_date]%>", "id" : <%=params[:id]%>, "page" : "<%=params[:page]%>"});'>
          차트</a></td>
      </tr>
  <% end %>
</table>