<h5 class="hidden-phone">추천왕 (<%=@base_date_string%>)</h5>

  <div class="row-fluid full-width">
    <div class="input-append input-menu">
      <div class="btn-group">
        <i class="dropdown-arrow dropdown-arrow-inverse"></i>
        <button class="btn btn-small btn-phone first-type" data-toggle="dropdown"><%= display_recent_period_string %></button>
        <ul class="dropdown-menu dropdown-inverse">
          <% RecentPeriod.find_each do |recent_period| %>
              <li><a href="<%=stock_firms_path%>?recent_period_id=<%=recent_period.id%>"><%= display_recent_period_string recent_period %></a></li>
          <% end %>
        </ul>
      </div>

      <div class="btn-group">
        <i class="dropdown-arrow dropdown-arrow-inverse"></i>
        <button class="btn btn-small btn-phone" data-toggle="dropdown"><%=display_keep_period_string%></button>
        <ul class="dropdown-menu dropdown-inverse">
          <% KeepPeriod.find_each do |keep_period| %>
              <li><a href="<%=stock_firms_path%>?keep_period_id=<%=keep_period.id%>"><%=display_keep_period_string keep_period%></a></li>
          <% end %>
        </ul>
      </div>
     </div>
    <div class="input-append input-menu hidden-phone">




      <div class="btn-group">
        <i class="dropdown-arrow dropdown-arrow-inverse"></i>
        <button class="btn btn-small btn-phone" data-toggle="dropdown"><%= display_loss_cut_string %></button>
        <ul class="dropdown-menu dropdown-inverse">
          <% LossCut.find_each do |loss_cut| %>
              <li><a href="<%=stock_firms_path%>?loss_cut_id=<%=loss_cut.id%>"><%= display_loss_cut_string loss_cut %></span></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<!--
  <div class="row">
    <div class="span4">
      <div class="full-width input-append">
        <div class="btn-group">
          <button class="full-width btn dropdown-toggle" data-toggle="dropdown">
            <%= display_recent_period_string %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-inverse">
            <% RecentPeriod.find_each do |recent_period| %>
            <li><a href="<%=stock_firms_path%>?recent_period_id=<%=recent_period.id%>"><%= display_recent_period_string recent_period %></a></li>
            <% end %>
          </ul>
        </div>
        <div class="btn-group">
          <button class="full-width btn dropdown-toggle" data-toggle="dropdown">
            <%=display_keep_period_string%>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-inverse">
            <% KeepPeriod.find_each do |keep_period| %>
            <li><a href="<%=stock_firms_path%>?keep_period_id=<%=keep_period.id%>"><%=display_keep_period_string keep_period%></a></li>
            <% end %>
          </ul>
        </div>
        <div class="btn-group">
          <button class="full-width btn dropdown-toggle" data-toggle="dropdown">
            <%= display_loss_cut_string %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-inverse">
            <% LossCut.find_each do |loss_cut| %>
            <li><a href="<%=stock_firms_path%>?loss_cut_id=<%=loss_cut.id%>"><%= display_loss_cut_string loss_cut %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
-->
<% if mobile_device? %>
    <% @stock_firms_rows.each do |stock_firms_row| %>
        <div class="rank-item">
          <!--
          <div class="pull-right firm-logo">
            <a href="<%= stock_firm_path(stock_firms_row[:stock_firm]) %>">
              <img width=120px src="./img/firms/<%=stock_firms_row[:id]%>.png"/>
            </a>


          </div>
          -->
          <span class="ranking"><%= stock_firms_row[:ranking] %></span>
          <h6><a href="<%= stock_firm_path(stock_firms_row[:stock_firm]) %>"><img width=100px src="./img/firms/<%=stock_firms_row[:id]%>.png"/></a></h6>

          <div class="description">


              종목수 : <span><%= stock_firms_row[:number_of_recommendations] %></span>  <br />

              <% profit = stock_firms_row[:profit] %>
              수익률 : <span class=<%= class_of_profit profit %>><%= profit %> %</span>
                  (연:<span class=<%= class_of_profit profit %>><%=stock_firms_row[:yearly_profit]%>%</span>)<br />


              <% standard_deviation = stock_firms_row[:standard_deviation] %>
              표준편차 : <span class=<%= class_of_risk standard_deviation %>><%= standard_deviation %></span>     <br />

              샤프지수 : <%= stock_firms_row[:sharpe_ratio]%> <br />

              위험도 : <%= stock_firms_row[:risk]%> <br />

          </div>

        </div>
    <% end %>
<% else %>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>랭킹</th>
      <th>이름</th>
      <th>추천종목수</th>
      <th>수익률</th>
      <th>표준편차</th>
      <th>샤프지수</th>
      <th>위험도</th>
      <th class="hidden-phone"> </th>
      <th class="hidden-phone"> </th>
    </tr>
  </thead>
  <% @stock_firms_rows.each do |stock_firms_row| %>
    <tr>
      <td><%= stock_firms_row[:ranking] %></td>
      <td><a href="<%= stock_firm_path(stock_firms_row[:stock_firm]) %>"> <%= stock_firms_row[:stock_firm].name %></a></td>
      <td><%= stock_firms_row[:number_of_recommendations] %></td>
      <% profit = stock_firms_row[:profit] %>
      <td><span class=<%= class_of_profit profit %>><%= profit %>%</span><br />(연:<span class=<%= class_of_profit profit %>><%=stock_firms_row[:yearly_profit]%>%</span>)</td>
      <% standard_deviation = stock_firms_row[:standard_deviation] %>
      <td class=<%= class_of_risk standard_deviation %>><%= standard_deviation %></td>
      <td><%= stock_firms_row[:sharpe_ratio]%></td>
      <td class="<%= stock_firms_row[:risk_style] %>"><%= stock_firms_row[:risk]%></td>
      <td class="hidden-phone"><a href="<%= stock_firm_path(stock_firms_row[:stock_firm]) %>"> 자세히보기</a></td>
      <td class="hidden-phone"><a href="#" onclick="alert('준비중입니다.');">시그널링</a></td>
    </tr>
  <% end %>
</table>
<% end %>