<h5 class="hidden-phone">추천왕 (<%=@base_date_string%>)</h5>

<% if mobile_device? %>


    <!-- Modal -->
    <div id="recent_period" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">추천기간선택</h3>
      </div>
      <div class="modal-body">
        <% RecentPeriod.find_each do |recent_period| %>
            <p><a href="<%=stock_firms_path%>?recent_period_id=<%=recent_period.id%>"><%= display_recent_period_string recent_period %></a></p>
        <% end %>
      </div>
    </div>
    <div id="keep_period" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">투자기간</h3>
      </div>
      <div class="modal-body">
        <% KeepPeriod.find_each do |keep_period| %>
            <p><a href="<%=stock_firms_path%>?keep_period_id=<%=keep_period.id%>"><%=display_keep_period_string keep_period%></a></p>
        <% end %>
      </div>
    </div>
    <div id="loss_cut" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Loss cut 설정</h3>
      </div>
      <div class="modal-body">
        <% LossCut.find_each do |loss_cut| %>
            <p><a href="<%=stock_firms_path%>?loss_cut_id=<%=loss_cut.id%>"><%= display_loss_cut_string loss_cut %></span></a></p>
        <% end %>
      </div>
    </div>

    <div class="input-menu">
      <a href="#recent_period" role="button" class="btn btn-small" data-toggle="modal"><%= display_recent_period_string %></a>
      <a href="#keep_period" role="button" class="btn btn-small" data-toggle="modal"><%=display_keep_period_string%></a>
      <a href="#loss_cut" role="button" class="btn btn-small" data-toggle="modal"><%= display_loss_cut_string %></a>

    </div>
    <% @stock_firms_rows.each do |stock_firms_row| %>
        <div class="rank-item link-section" data-href="<%= stock_firm_path(stock_firms_row[:stock_firm]) %>">
          <!--
          <div class="pull-right firm-logo">
            <a href="<%= stock_firm_path(stock_firms_row[:stock_firm]) %>">
              <img width=120px src="./img/firms/<%=stock_firms_row[:id]%>.png"/>
            </a>


          </div>
          -->

          <div class="ranking">
            <%
               if stock_firms_row[:ranking] <= 3
            %>
                <img src="/img/crown/<%=stock_firms_row[:ranking]%>.png" />
            <%
               else
            %>
                  <%=stock_firms_row[:ranking]%>



            <%
               end

            %></div>
          <h6><a href="<%= stock_firm_path(stock_firms_row[:stock_firm]) %>"><img width=100px src="./img/firms/<%=stock_firms_row[:id]%>.png"/></a></h6>

          <div class="description">


              추천수 : <span><%= stock_firms_row[:number_of_recommendations] %></span>  <br />

              <% profit = stock_firms_row[:profit] %>
              개별 평균수익률 : <span class=<%= class_of_profit profit %>><%= profit %> %</span>
                  (연:<span class=<%= class_of_profit profit %>><%=stock_firms_row[:yearly_profit]%>%</span>)<br />


              <% standard_deviation = stock_firms_row[:standard_deviation] %>
              표준편차 : <span class=<%= class_of_risk standard_deviation %>><%= standard_deviation %></span>     <br />

              샤프지수 : <%= stock_firms_row[:sharpe_ratio]%> <br />

              위험도 : <span class=<%= stock_firms_row[:risk_style] %>><span class="symbol-<%= stock_firms_row[:risk_style] %>"></span> <%= stock_firms_row[:risk] %></span>
            <br />

          </div>

        </div>
    <% end %>
<% else %>
<div class="row-fluid">
  <div class="mbl input-append">
    <div class="btn-group">
      <i class="dropdown-arrow dropdown-arrow-inverse"></i>
      <button class="btn btn-small btn-phone" data-toggle="dropdown"><%= display_recent_period_string %></button>
      <button class="btn btn-small btn-phone dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-inverse">
        <% RecentPeriod.find_each do |recent_period| %>
            <li><a href="<%=stock_firms_path%>?recent_period_id=<%=recent_period.id%>"><%= display_recent_period_string recent_period %></a></li>
        <% end %>
      </ul>
    </div>

    <div class="btn-group">
      <i class="dropdown-arrow dropdown-arrow-inverse"></i>
      <button class="btn btn-small btn-phone" data-toggle="dropdown"><%=display_keep_period_string%></button>
      <button class="btn btn-small btn-phone dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-inverse">
        <% KeepPeriod.find_each do |keep_period| %>
            <li><a href="<%=stock_firms_path%>?keep_period_id=<%=keep_period.id%>"><%=display_keep_period_string keep_period%></a></li>
        <% end %>
      </ul>
    </div>


    <div class="btn-group hidden-phone">
      <i class="dropdown-arrow dropdown-arrow-inverse"></i>
      <button class="btn btn-small btn-phone" data-toggle="dropdown"><%= display_loss_cut_string %></button>
      <button class="btn btn-small btn-phone dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-inverse">
        <% LossCut.find_each do |loss_cut| %>
            <li><a href="<%=stock_firms_path%>?loss_cut_id=<%=loss_cut.id%>"><%= display_loss_cut_string loss_cut %></span></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>랭킹</th>
      <th>이름</th>
      <th>추천종목수</th>
      <th>수익률</th>
      <th>표준편차</th>
      <th>샤프지수</th>
      <th>위험도</th>
      <th class="hidden-phone"> </th>
      <th class="hidden-phone"> </th>
    </tr>
  </thead>
  <% @stock_firms_rows.each do |stock_firms_row| %>
    <tr class="link-section" data-href="<%= stock_firm_path(stock_firms_row[:stock_firm]) %>">
      <td><%= stock_firms_row[:ranking] %></td>
      <td><a href="<%= stock_firm_path(stock_firms_row[:stock_firm]) %>"> <%= stock_firms_row[:stock_firm].name %></a></td>
      <td><%= stock_firms_row[:number_of_recommendations] %></td>
      <% profit = stock_firms_row[:profit] %>
      <td><span class=<%= class_of_profit profit %>><%= profit %>%</span><br />(연:<span class=<%= class_of_profit profit %>><%=stock_firms_row[:yearly_profit]%>%</span>)</td>
      <% standard_deviation = stock_firms_row[:standard_deviation] %>
      <td class=<%= class_of_risk standard_deviation %>><%= standard_deviation %></td>
      <td><%= stock_firms_row[:sharpe_ratio]%></td>
      <td class="<%= stock_firms_row[:risk_style] %>"><%= stock_firms_row[:risk]%></td>
      <td class="hidden-phone"><a href="<%= stock_firm_path(stock_firms_row[:stock_firm]) %>"> 자세히보기</a></td>
      <td class="hidden-phone"><a href="<%= new_investment_path(:stock_firm_id => stock_firms_row[:stock_firm]) %>">시그널링</a></td>
    </tr>
  <% end %>
</table>
<% end %>

