<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "증권사추천왕" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "증권사 Rank" %>">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0;" />

  <meta property="og:title" content="증권사추천왕"/>
  <meta property="og:description" content="증권사들의 추천정보의 수익률과 리스크를 분석하고 새로운 추천을 시그널링 해드립니다."/>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<!--
<div id="page">

  <div id="jqt">
    -->

    <div class="navbar navbar-fixed-top">
	  <nav class="navbar-inner">
		<div class="container">
		  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>

		  <%= render 'layouts/navigation' %>
		</div>
	  </nav>
	</div>
	<div id="main" role="main">
	  <div class="container">
		<div class="content">
		  <div class="row">
			<div class="span12">
			  <%= render 'layouts/messages' %>
			  <%= yield %>
			</div>
		  </div>
		  <footer>
		  </footer>
		</div>
	  </div> <!--! end of .container -->
	</div> <!--! end of #main -->
<!--
  </div>

</div>

<div id="loading"><p><img src="img/loading.gif" /></p></div>
-->

<%= render 'layouts/tabbar' %>

<!--
<%= Rails.env %>
-->
</body>
<script type="text/javascript">

  <% if Rails.env == "development" %>
    <% if !session["development_mode_alert"] or session["development_mode_alert"] != "1" %>
    alert("development mode => not tracking logs")
    <%= session["development_mode_alert"] = "1" %>
    <% end %>

  <% else %>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40664867-1']);
  _gaq.push(['_trackPageview']);

  (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  mixpanel.track("page_view", {"total":"<%= params[:controller]%> <%= params[:action]%> <%= if mobile_device? then "mobile" else "desktop" end %> <%= Rails.env %>",
      "controller" : "<%= params[:controller]%>",
      "action" : "<%= params[:action]%>",
      "mobile_device?" : "<%= mobile_device? %>",
      "env" : "<%= Rails.env %>",
      "recent_period":"<%= if session[:recent_period_id] and RecentPeriod.find_by_id(session[:recent_period_id]) then RecentPeriod.find_by_id(session[:recent_period_id]).name else nil end %>",
      "keep_period":"<%= if KeepPeriod.find_by_id(session[:keep_period_id]) then KeepPeriod.find_by_id(session[:keep_period_id]).name else nil end %>",
      "loss_cut":"<%= if LossCut.find_by_id(session[:loss_cut_id]) then LossCut.find_by_id(session[:loss_cut_id]).percent else nil end %>"
  });

  <% end %>
</script>
</html>
